python
matplotlib 
re  
streamlit 
numpy 
pandas 
matplotlib.pyplot 
plotly_express 
datetime 
streamlit.elements.color_picker 
plotly_express 
plotly.graph_objects 
seaborn 
time
os
PIL   
pydeck  
plotly
streamlit
numpy>=1.8.2,<2.0.0
matplotlib>=1.3.1,<2.0.0
scipy>=0.14.0,<1.0.0
astroML>=0.2,<1.0
scikit-learn>=0.14.1,<1.0.0